# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Images
public/2016
public/2017
public/2018
public/2019
public/2020
public/2021
public/2022
public/2023
public/2024

